@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
  color: black;
}
html,
body {
  min-height: 100%;
}
body {
  background: #fbf5ec;
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  margin: 0 14px;
}
nav {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  position: relative;
}
nav .links {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 20px;
  /* font-family: "Noto Sans TC", sans-serif; */
}

nav .links button {
  border: none;
  background: transparent;
  cursor: pointer;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: #161616;
}
footer p {
  text-align: center;
  color: #3f3030;
  margin: 40px auto;
}

svg {
  display: block;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

ol,
ul {
  list-style: none;
}

.offcanvas {
  position: fixed;
  top: 0;
  right: -36%;
  z-index: 1040;
  display: block;
  width: 36%;
  height: 100vh;
  overflow-y: auto;
  outline: 0;
  transition: all 0.3s ease-in-out;
  border-left: 4px solid #161616;
  background: #fbf5ec;
}

@media screen and (max-width: 1120px) {
  .offcanvas {
    right: -50%;
    width: 50%;
  }
}

@media screen and (max-width: 760px) {
  .offcanvas {
    right: -100%;
    width: 100%;
  }
}

.offcanvas.show {
  right: 0;
}

.offcanvas h1 {
  text-align: center;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  margin: 48px;
}

.offCanvasLink {
  font-size: 50px;
  font-family: "Noto Sans TC", sans-serif;
}

.offCanvasCloseBtn {
  display: flex;
  justify-content: flex-end;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}

.logo:hover {
  .left-circle:hover,
  .right-circle:hover {
    animation: pulse 2s infinite;
  }
}
