.detailPic {
  width: 33%;
  display: block;
  object-fit: cover;
}

.picRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #000;
  margin: 0 24px;
}
